body{
	margin: 0 auto;
	font-family: 'Nunito', sans-serif;
}

h1.title{
	padding: 10px;
	text-transform: uppercase;
	font-family: 'Bai Jamjuree', sans-serif;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
}
ul {
	padding: 0;
	margin: 10px 0;
}

ul li {
	line-height: 2.5;
}

.completed {
	text-decoration: line-through;
}

p.notodo{
	font-weight: bold;
}