body{
	margin: 0 auto;
	font-family: 'Nunito', sans-serif;
}

h1.title{
	padding: 10px;
	text-transform: uppercase;
	font-family: 'Bai Jamjuree', sans-serif;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	color: #030811;
	text-shadow: 2px 1px #0d74d4;
	margin-bottom: 50px;
}
h1.title:hover{
	letter-spacing: 2px;

}
ul {
	padding: 0;
	margin: 40px 0;
}

ul li {
	line-height: 2.5;
	list-style-type: none;
	text-align: center;

}

span {
	color: #000000;
	margin-left: 20px;
}

span.completed {
	text-decoration-line: line-through;
	text-decoration-style: solid;
	text-decoration-color: green;
}


p.notodo{
	margin-top: 100px;
	font-weight: bold;
	text-align: center;
	color: #5f378d;
	padding: 10px;
	border-radius: 20px;
	width: 50%;
}
input.form {
	caret-color: #020f29;
	border-radius: 20px;
	border: 1px solid #020f29;
	color: #030811;
	text-align: center;
}

input.form:focus{
	background-color: #0d74d4;
	padding: 5px;
}

input.form::placeholder{
	color: #030811;
}

button.delete {
	padding: 5px;
	background: red;
	margin-left: 10px;
	margin-right: 10px;
}
button.delete:hover{
	border: 1px solid red;
	color: red;
	background: white;
	border-radius: 20px;
	padding: 8px;
}
button.delete:visited{
	background: white;
	color: red;
	padding: 8px;
}

button.done{
	padding: 5px;
	background: green;
	margin-left:10px;
}
button.done:hover{
	border: 1px solid green;
	color: green;
	background: white;
	padding: 8px;
	border-radius: 20px;
}
button.done:visited{
	background: white;
	color: green;
	padding: 8px;
}

